.columnize {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    width: 560px;
}

.navbar {
    position:fixed;
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(67, 121, 131);
}

.inactive {
    color: gray;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16;

}

.active {
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16;

}

.wordflash {
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    vertical-align: center;
    font-size: 24;
}

#container {
    display: block;
    width: 80%;
    float : right;
    margin-left: 150px
}

h1 {
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;

}

table {
    /* cellspacing */
    border-spacing: 20;
    width: 100%;
}
th {
    /* This covers the th elements */
}
tr {
    /* This covers the tr elements */
}
th, td {
    /* cellpadding */
    padding: 0;
}